# Basic String Operations

## Creation and Formatting

In [4]:
name = "alisan"

In [5]:
3 * name

'alisanalisanalisan'

In [6]:
"alisan" + "koroglu"

'alisankoroglu'

In [8]:
"E" + name[1:]

'Elisan'

In [9]:
names = ["ali", "veli", "ayşe"]

In [10]:
for i in names:
    print("names: ", i,sep = "")

names: ali
names: veli
names: ayşe

In [11]:
for i in names:
    print("_", i[0:], sep = "")

_ali
_veli
_ayşe

In [12]:
print(*enumerate(names))

(0, 'ali') (1, 'veli') (2, 'ayşe')

In [14]:
for i in enumerate(names):
    print(i)

(0, 'ali')
(1, 'veli')
(2, 'ayşe')

In [15]:
for i in enumerate("names"):
    print(i)

(0, 'n')
(1, 'a')
(2, 'm')
(3, 'e')
(4, 's')

In [16]:
for i in enumerate(names,1): # Starts numbering from 1
    print(i)

(1, 'ali')
(2, 'veli')
(3, 'ayşe')

## In-Array Type Queries

In [25]:
"alisan".isalpha() # Does it consist entirely of letters?

True

In [26]:
"alisan32".isalpha()

False

In [27]:
"123".isnumeric() # Is it entirely numeric?

True

In [28]:
"123".isdigit() # Is it entirely digits?

True

In [29]:
"123".isalnum() # Is it entirely numeric or alphabetic?

True

## Accessing Elements and Their Indexes

In [17]:
name = "alisanKoroglu"

In [18]:
name

'alisanKoroglu'

In [19]:
name[0:2]

'al'

In [31]:
name.index("n") # gives the indexof the character

5

In [32]:
name.index("a") # Returns the index of the first occurrence of the character.

0

In [33]:
# To find another one
name.index("a", 2) # Start searching from index 2.

4

## Querying Start and End Characters: `startswith()` & `endswith()`

In [34]:
name = "alisanKoroglu"

In [35]:
name.startswith("a") # Does the name start with the character "a"?

True

In [36]:
name.startswith("A") # Python is case-sensitive (uppercase and lowercase letters matter).

False

In [37]:
name.startswith("L")

False

In [39]:
name.endswith("u") # Does the name end with the character "u"?

True

In [40]:
name.endswith("h")

False

In [41]:
isim.count("a") # How many 'a' characters are there?

2

In [42]:
# sorted: Sorts elements alphabetically.
sorted("defter")

['d', 'e', 'e', 'f', 'r', 't']

In [43]:
print(*sorted("defter"), sep = "") # **Using `*` prints without spaces (concatenates the elements).**

deefrt

## Splitting Characters

In [44]:
name = "Alisan Koroglu"

In [45]:
name.split() # Split by spaces.

['Alisan', 'Koroglu']

In [46]:
name.split("a") # Splits by the character 'a'.

['Alis', 'n Koroglu']

In [48]:
name = "Alisan_Koroglu"
name.split("_") # Splits by the character '_'.

['Alisan', 'Koroglu']

## Uppercase and Lowercase Operations

In [49]:
name = "Alisan Koroglu"

In [51]:
name.upper()

'ALISAN KOROGLU'

In [52]:
name.lower()

'alisan koroglu'

In [53]:
name.upper().lower()

'alisan koroglu'

In [55]:
name_Capital = name.upper()
name_Capital

'ALISAN KOROGLU'

In [56]:
name_Capital.islower() # Does it consist entirely of lowercase letters?

False

In [57]:
name_Capital.isupper() # Does it consist entirely of uppercase letters?

True

## capitalize() & title() & swapcase()

In [62]:
name = "alisan koroglu"

In [64]:
name.capitalize() # Capitalizes the first letter of the given string.

'Alisan koroglu'

In [65]:
name.title() # Capitalizes the first letter of each word.

'Alisan Koroglu'

In [66]:
name.swapcase() # in this case capitalize all letters but

'ALISAN KOROGLU'

In [68]:
name = "ALISAN koroglu" # in this case changed upper to lower, lower to upper
name.swapcase()

'alisan KOROGLU'

## Trimming Unwanted Characters: `strip()`, `lstrip()`, `rstrip()`

In [72]:
name = " alisan "
name.strip() # Removes leading and trailing spaces.

'alisan'

In [83]:
name = "*alisan*"
name.strip()

'*alisan*'

In [74]:
name.strip("*") # Removes `*` characters from both the left and right sides.

'alisan'

In [75]:
name = "lhellol"
name.strip("l")

'hello'

In [76]:
name = "*hello*"
name.rstrip("*") # Removes from the right side only.

'*hello'

In [77]:
name.lstrip("*") # Removes from the left side only.

'hello*'

## `join`: Merging Split or Already Separated Strings

In [78]:
name = "alisan koroglu"

In [79]:
split = name.split()
split

['alisan', 'koroglu']

In [81]:
joiner = " " # Specifies the separator to be used when joining elements.
joiner.join(split)

'alisan koroglu'

In [82]:
joiner = "***" # Specifies the separator to be used when joining elements.
joiner.join(split)

'alisan***koroglu'

## Replacing Elements: `replace()`, `str.maketrans()`, `translate()`

In [84]:
name = "alisan koroglu"

In [86]:
name.replace("a", "E") # Replaces the letter 'E' with the letter 'a'.

'ElisEn koroglu'

In [88]:
name.replace("ko","KA")

'alisan KAroglu'

In [94]:
# When we want to replace some characters with anothers

phrase = "Bu ifade İçerisinde bağzı Türkçe karakterler vardır"

In [95]:
letters_to_be_corrected = "çÇğĞıİöÖşŞüÜ"
corrected_letters = "cCgGiIoOsSuU"

In [96]:
correction = str.maketrans(letters_to_be_corrected, corrected_letters)
phrase.translate(correction)

'Bu ifade Icerisinde bagzi Turkce karakterler vardir'

## contains

In [98]:
import pandas as pd

names = ["ayse", "Ayşe", "ali", "aali", "Ali", "veli", "mehmet", "berkcan"]
name_series = pd.Series(names)
name_series

0       ayse
1       Ayşe
2        ali
3       aali
4        Ali
5       veli
6     mehmet
7    berkcan
dtype: object

In [99]:
name_series.str.contains("al") # Checks whether the strings in the series contain "al".

0    False
1    False
2     True
3     True
4    False
5    False
6    False
7    False
dtype: bool

In [100]:
name_series[name_series.str.contains("al")] # Retrieves values that contain "al".

2     ali
3    aali
dtype: object

In [101]:
name_series.str.contains("al").sum() # Counts how many values contain "al".

2

In [102]:
v.str.contains("[aA]li").sum()  # Includes the letter 'a' regardless of case (uppercase or lowercase).

3

# Introduction to Text Mining and Natural Language Processing (NLP)

## Text Preprocessing

* Sherlock Holmes novel titles in a slightly noisy form, including trailing numbers, etc.
* Our first problem is converting this expression into a vector.

In [6]:
text = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

text

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

### Convert the string into a DataFrame/array/Series.

In [9]:
text.split()

['A',
 'Scandal',
 'in',
 'Bohemia!',
 '01',
 'The',
 'Red-headed',
 'League,2',
 'A',
 'Case,',
 'of',
 'Identity',
 '33',
 'The',
 'Boscombe',
 'Valley',
 'Mystery4',
 'The',
 'Five',
 'Orange',
 'Pips1',
 'The',
 'Man',
 'with?',
 'the',
 'Twisted',
 'Lip',
 'The',
 'Adventure',
 'of',
 'the',
 'Blue',
 'Carbuncle',
 'The',
 'Adventure',
 'of',
 'the',
 'Speckled',
 'Band',
 'The',
 'Adventure',
 'of',
 'the',
 "Engineer's",
 'Thumb',
 'The',
 'Adventure',
 'of',
 'the',
 'Noble',
 'Bachelor',
 'The',
 'Adventure',
 'of',
 'the',
 'Beryl',
 'Coronet',
 'The',
 'Adventure',
 'of',
 'the',
 'Copper',
 'Beeches']

In [11]:
text.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [13]:
text_list = text.split("\n")

In [15]:
import pandas as pd
text_pdSeries= pd.Series(text_list)
text_pdSeries

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [17]:
text_pdSeries = text_pdSeries[1:len(text_pdSeries)] # Got rid of the leading space.
text_pdSeries

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [19]:
text_pdDataFrame = pd.DataFrame(text_pdSeries,columns = ["Sherlock Holmes Novels"])
text_pdDataFrame

                   Sherlock Holmes Novels
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

### Uppercase - Lowercase

In [22]:
text1 = text_pdDataFrame.copy()
text1

                   Sherlock Holmes Novels
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

* the code below converts each element of list1 into a string and then joins them using a specified character (in this case, a space " ").

In [25]:
list1 = [1, 2, 3]
str1 = " ".join(str(i) for i in list1)
str1

'1 2 3'

In [27]:
list1 = [1, 2, 3]
str1 = "".join(str(i) for i in list1)
str1

'123'

**Converting all to lowercase.**
* The given code applies a lambda function to each element in the `"Sherlock Holmes Novels"` column of the DataFrame `text1`, converting all words to lowercase. It first splits each text entry into a list of words using `x.split()`, then converts each word to lowercase with `x.lower()`, and finally joins the words back into a single string using `" ".join(...)`. This ensures that all text in the column is transformed to lowercase while preserving word order. A more efficient alternative is using `text1["Sherlock Holmes Novels"].str.lower()`, which directly converts the entire text to lowercase without splitting and joining.

In [30]:
text1["Sherlock Holmes Novels"].apply(lambda x:" ".join(x.lower() for x in x.split()))

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Sherlock Holmes Novels, dtype: object

In [32]:
text1["Sherlock Holmes Novels"].apply(lambda x: "".join(x.lower()))

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Sherlock Holmes Novels, dtype: object

In [34]:
text1["Sherlock Holmes Novels"].str.lower()

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Sherlock Holmes Novels, dtype: object

* In order for this change to be recorded, an assignment process must be performed.

In [37]:
text1 =  text1["Sherlock Holmes Novels"].apply(lambda x:" ".join(x.lower() for x in x.split()))
text1

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Sherlock Holmes Novels, dtype: object

### Deleting Punctuation Marks

In [40]:
text2 = text1
text2

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Sherlock Holmes Novels, dtype: object

In [42]:
text2.str.replace(r"[^\w\s]", "", regex=True)

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: Sherlock Holmes Novels, dtype: object

* What Does It Do?
    * This code removes special characters and punctuation from each string in the Pandas Series (text2), keeping only letters, numbers, and spaces.

* Code Explanation:
    * text2.str.replace(...) → Applies the replacement function to each string in the Pandas Series.
    * r"[^\w\s]" → Regular expression (regex):
    * \w → Matches letters, numbers, and underscores (_).
    * \s → Matches whitespace characters (spaces, tabs, etc.).
    * ^ → Negates the set, meaning it targets everything except letters, numbers, and spaces (i.e., punctuation and special characters).
    * "" → Replaces matched characters with an empty string (removes them).
regex=True → Ensures that replace() interprets the pattern as a regex.

* In order for this change to be recorded, an assignment process must be performed.

In [46]:
text2 = text2.str.replace(r"[^\w\s]", "", regex=True)
text2

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: Sherlock Holmes Novels, dtype: object

### Deleting Numbers

In [49]:
text3 = text2
text3

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: Sherlock Holmes Novels, dtype: object

In [51]:
text3.str.replace("\\d", "", regex=True)

1                    a scandal in bohemia
2                     the redheaded league
3                      a case of identity
4              the boscombe valley mystery
5                     the five orange pips
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: Sherlock Holmes Novels, dtype: object

* What Does It Do?
    * This code removes all digits (0-9) from each string in the Pandas Series (text3).

* Explanation:
    * text3.str.replace(...) → Applies the replacement function to each string in the Pandas Series.
    * "\\d" → Regular expression (regex) pattern that matches any digit (0-9).
    * "" → Replaces matched digits with an empty string (removes them).
    * regex=True → Ensures replace() interprets the pattern as a regex instead of a plain string.
* Note:
    * Since \d is a special regex sequence, we need to escape the backslash in a normal string ("\\d"), or better yet, use a raw string (r"\d") to make the code cleaner.

In [54]:
text3 = text3.str.replace("\\d", "", regex=True)
text3

1                    a scandal in bohemia
2                     the redheaded league
3                      a case of identity
4              the boscombe valley mystery
5                     the five orange pips
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: Sherlock Holmes Novels, dtype: object

### Stopwords

* In Natural Language Processing (NLP), stop words are common words that are usually filtered out during text processing because they carry little meaningful information. These words frequently appear in language but do not contribute significantly to the meaning of a sentence.

* Examples of Stop Words:
    * English Stop Words: a, an, the, is, in, at, of, on, for, with, and, but, or, not, etc.
    * Turkish Stop Words: ve, ya, için, bir, bu, o, ile, gibi, da, de, çok, ama, mı, ne, vs.
 
* Why Are Stop Words Removed?

    * Reduce Dimensionality: Eliminating common words helps reduce the size of the dataset, making models more efficient.
    * Improve Model Performance: Many NLP models, such as text classification and sentiment analysis, perform better when stop words are removed.
    * Enhance Meaningful Features: Retaining only informative words helps algorithms focus on keywords that contribute to understanding the text.

* When Not to Remove Stop Words?

    * In tasks like machine translation, text summarization, or question answering, stop words can be important for maintaining context and meaning.
    * In word embeddings (Word2Vec, BERT, etc.), stop words may help preserve sentence structure.

In [58]:
text4 = text3
text4

1                    a scandal in bohemia
2                     the redheaded league
3                      a case of identity
4              the boscombe valley mystery
5                     the five orange pips
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: Sherlock Holmes Novels, dtype: object

In [60]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\ali\anaconda3\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\ali\anaconda3\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\ali\anaconda3\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\ali\anaconda3\lib\site-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in c:\users\ali\anaconda3\lib\site-packages (from nltk) (4.66.5)
Requirement already satisfied: colorama in c:\users\ali\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [61]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ali\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [62]:
from nltk.corpus import stopwords
sw = stopwords.words("english") # We have taken the stopwords for the English language.
sw

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [66]:
text4.apply(lambda x: " ".join(x for x in x.split() if x not in sw))

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: Sherlock Holmes Novels, dtype: object

In [68]:
text4 = text4.apply(lambda x: " ".join(x for x in x.split() if x not in sw))
text4

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: Sherlock Holmes Novels, dtype: object

### Removal of Rare Words

In [71]:
text5 = text4
text5

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: Sherlock Holmes Novels, dtype: object

In [73]:
# We can count how many times each word appears in the dataset.
pd.Series(" ".join(text5).split()).value_counts()

adventure    6
scandal      1
bohemia      1
copper       1
coronet      1
beryl        1
bachelor     1
noble        1
thumb        1
engineers    1
band         1
speckled     1
carbuncle    1
blue         1
lip          1
twisted      1
man          1
pips         1
orange       1
five         1
mystery      1
valley       1
boscombe     1
identity     1
case         1
league       1
redheaded    1
beeches      1
Name: count, dtype: int64

In [81]:
# Let's say we want to remove the last 3 values.
delete = pd.Series(" ".join(text5).split()).value_counts()[-3:]
delete

league       1
redheaded    1
beeches      1
Name: count, dtype: int64

In [85]:
text5.apply(lambda x: " ".join(i for i in x.split() if i not in delete))

1               scandal bohemia
2
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12             adventure copper
Name: Sherlock Holmes Novels, dtype: object

* This operation is not meaningful for our dataset, so we are not saving it. But if needed, this is how it is done.

### Tokenization
* Tokenization is the process of breaking down a text into smaller units called tokens. These tokens can be words, phrases, sentences, or subwords, depending on the level of tokenization.

In [89]:
nltk.download("punkt_tab")

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\ali\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [91]:
!pip install textblob

Requirement already satisfied: textblob in c:\users\ali\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in c:\users\ali\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\users\ali\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\ali\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\ali\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2024.9.11)
Requirement already satisfied: tqdm in c:\users\ali\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.66.5)
Requirement already satisfied: colorama in c:\users\ali\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)

In [93]:
import textblob
from textblob import TextBlob

TextBlob(text5[1]).words

WordList(['scandal', 'bohemia'])

In [95]:
text5.apply(lambda x: TextBlob(x).words)

1                [scandal, bohemia]
2               [redheaded, league]
3                  [case, identity]
4       [boscombe, valley, mystery]
5              [five, orange, pips]
6               [man, twisted, lip]
7      [adventure, blue, carbuncle]
8       [adventure, speckled, band]
9     [adventure, engineers, thumb]
10     [adventure, noble, bachelor]
11      [adventure, beryl, coronet]
12     [adventure, copper, beeches]
Name: Sherlock Holmes Novels, dtype: object

### Stemming
* Stemming is the process of reducing a word to its root or base form by removing suffixes. The goal is to group words with similar meanings together by stripping away prefixes or suffixes. However, stemming does not always produce a real word.

In [98]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [100]:
text5.apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

1            scandal bohemia
2              redhead leagu
3                 case ident
4     boscomb valley mysteri
5             five orang pip
6              man twist lip
7     adventur blue carbuncl
8       adventur speckl band
9       adventur engin thumb
10    adventur nobl bachelor
11    adventur beryl coronet
12     adventur copper beech
Name: Sherlock Holmes Novels, dtype: object

### Lemmatization
* Lemmatization is the process of reducing a word to its base or dictionary form (lemma) while ensuring that the transformed word remains a valid word. Unlike stemming, lemmatization considers the context and meaning of a word.

In [103]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ali\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [105]:
text5.apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

1              scandal bohemia
2             redheaded league
3                case identity
4      boscombe valley mystery
5              five orange pip
6              man twisted lip
7     adventure blue carbuncle
8      adventure speckled band
9     adventure engineer thumb
10    adventure noble bachelor
11     adventure beryl coronet
12      adventure copper beech
Name: Sherlock Holmes Novels, dtype: object

In [106]:
text_pdDataFrame

                   Sherlock Holmes Novels
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

## Simple NLP applications

### N-Gram

**What is an N-Gram?**
* An N-Gram is a sequence of N words (or characters) from a given text. It is a fundamental concept in Natural Language Processing (NLP) and is used for tasks like text analysis, machine learning models, and language modeling.

**Types of N-Grams:**

    * Unigram (1-Gram): A single word.

        Example: "Natural Language Processing"
        Unigrams: ["Natural", "Language", "Processing"]
        
    * Bigram (2-Gram): Two consecutive words.

        Bigrams: ["Natural Language", "Language Processing"]
        Trigram (3-Gram): Three consecutive words.

    * Trigrams: ["Natural Language Processing"]
        
        N-Gram (N > 3): A sequence of N words.
        4-Gram: ["Natural Language Processing is"]
        
**Why Are N-Grams Important?**

    * Text Prediction: Used in autocomplete and next-word prediction models.
    * Speech Recognition: Helps in understanding language structure.
    * Plagiarism Detection: Identifies similar phrases in different documents.
    * Spam Filtering: Detects spam messages based on common word patterns.
    * Sentiment Analysis: Improves context understanding in reviews.

In [112]:
a = """I will demonstrate this example using a longer text for better understanding.
N-grams show the combinations of words that are used together."""
a

'I will demonstrate this example using a longer text for better understanding.\nN-grams show the combinations of words that are used together.'

In [114]:
TextBlob(a).ngrams(3) # It provides the most frequently occurring three-word groups.

[WordList(['I', 'will', 'demonstrate']),
 WordList(['will', 'demonstrate', 'this']),
 WordList(['demonstrate', 'this', 'example']),
 WordList(['this', 'example', 'using']),
 WordList(['example', 'using', 'a']),
 WordList(['using', 'a', 'longer']),
 WordList(['a', 'longer', 'text']),
 WordList(['longer', 'text', 'for']),
 WordList(['text', 'for', 'better']),
 WordList(['for', 'better', 'understanding']),
 WordList(['better', 'understanding', 'N-grams']),
 WordList(['understanding', 'N-grams', 'show']),
 WordList(['N-grams', 'show', 'the']),
 WordList(['show', 'the', 'combinations']),
 WordList(['the', 'combinations', 'of']),
 WordList(['combinations', 'of', 'words']),
 WordList(['of', 'words', 'that']),
 WordList(['words', 'that', 'are']),
 WordList(['that', 'are', 'used']),
 WordList(['are', 'used', 'together'])]

### Part of Speech Tagging (POS)
* Part of Speech (POS) Tagging is the process of assigning a grammatical category (such as noun, verb, adjective, etc.) to each word in a sentence. It helps machines understand the grammatical structure and meaning of a text.

In [117]:
nltk.download("averaged_perceptron_tagger_eng")

[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     C:\Users\ali\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger_eng is already up-to-
[nltk_data]       date!

True

In [119]:
text5

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: Sherlock Holmes Novels, dtype: object

In [122]:
TextBlob(text5[2]).tags

[('redheaded', 'VBN'), ('league', 'NN')]

In [125]:
text5.apply(lambda x: TextBlob(x).tags)

1                        [(scandal, NN), (bohemia, NN)]
2                      [(redheaded, VBN), (league, NN)]
3                          [(case, NN), (identity, NN)]
4         [(boscombe, NN), (valley, NN), (mystery, NN)]
5               [(five, CD), (orange, NN), (pips, NNS)]
6                [(man, NN), (twisted, VBD), (lip, NN)]
7        [(adventure, NN), (blue, JJ), (carbuncle, NN)]
8        [(adventure, NN), (speckled, VBD), (band, NN)]
9     [(adventure, NN), (engineers, NNS), (thumb, VBP)]
10       [(adventure, NN), (noble, JJ), (bachelor, NN)]
11        [(adventure, NN), (beryl, NN), (coronet, NN)]
12      [(adventure, NN), (copper, NN), (beeches, NNS)]
Name: Sherlock Holmes Novels, dtype: object

### Chunking(Shallow Parsing)
* Chunking, also known as shallow parsing, is a Natural Language Processing (NLP) technique used to identify and group words in a sentence into meaningful phrases or "chunks." Unlike full parsing, which builds a complete syntactic tree, chunking only focuses on detecting shallow-level structures like noun phrases (NP), verb phrases (VP), or prepositional phrases (PP).

In [132]:
sentence = "R and Python are useful data science tools for the new or old data scientists who eager to do efficent data science task"
sentence

'R and Python are useful data science tools for the new or old data scientists who eager to do efficent data science task'

In [135]:
pos = TextBlob(sentence).tags
pos

[('R', 'NNP'),
 ('and', 'CC'),
 ('Python', 'NNP'),
 ('are', 'VBP'),
 ('useful', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('tools', 'NNS'),
 ('for', 'IN'),
 ('the', 'DT'),
 ('new', 'JJ'),
 ('or', 'CC'),
 ('old', 'JJ'),
 ('data', 'NNS'),
 ('scientists', 'NNS'),
 ('who', 'WP'),
 ('eager', 'VBP'),
 ('to', 'TO'),
 ('do', 'VB'),
 ('efficent', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('task', 'NN')]

In [144]:
pip install svgling

Requirement already satisfied: svgling in c:\users\ali\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: svgwrite in c:\users\ali\anaconda3\lib\site-packages (from svgling) (1.4.3)
Note: you may need to restart the kernel to use updated packages.

In [146]:
reg_exp = "NP: {<DT>?<JJ>*<NN>}"
rp = nltk.RegexpParser(reg_exp)
results = rp.parse(pos)
results

Tree('S', [('R', 'NNP'), ('and', 'CC'), ('Python', 'NNP'), ('are', 'VBP'), ('useful', 'JJ'), ('data', 'NNS'), Tree('NP', [('science', 'NN')]), ('tools', 'NNS'), ('for', 'IN'), ('the', 'DT'), ('new', 'JJ'), ('or', 'CC'), ('old', 'JJ'), ('data', 'NNS'), ('scientists', 'NNS'), ('who', 'WP'), ('eager', 'VBP'), ('to', 'TO'), ('do', 'VB'), ('efficent', 'JJ'), ('data', 'NNS'), Tree('NP', [('science', 'NN')]), Tree('NP', [('task', 'NN')])])

In [149]:
print(results)

(S
  R/NNP
  and/CC
  Python/NNP
  are/VBP
  useful/JJ
  data/NNS
  (NP science/NN)
  tools/NNS
  for/IN
  the/DT
  new/JJ
  or/CC
  old/JJ
  data/NNS
  scientists/NNS
  who/WP
  eager/VBP
  to/TO
  do/VB
  efficent/JJ
  data/NNS
  (NP science/NN)
  (NP task/NN))

In [151]:
results.draw()

### Named Entity Recognition
 * Named Entity Recognition (NER) is a Natural Language Processing (NLP) task that involves identifying and classifying named entities in text into predefined categories such as:

    * Person names (e.g., "Elon Musk")
    * Organizations (e.g., "Google", "United Nations")
    * Locations (e.g., "Paris", "Mount Everest")
    * Dates (e.g., "January 1st, 2025")
    * Monetary values (e.g., "$100")
    * Percentages (e.g., "75%")
    * And more, depending on the system

In [158]:
from nltk import word_tokenize, pos_tag, ne_chunk
nltk.download('maxent_ne_chunker_tab')
nltk.download('words')

[nltk_data] Downloading package maxent_ne_chunker_tab to
[nltk_data]     C:\Users\ali\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping chunkers\maxent_ne_chunker_tab.zip.
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\ali\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\words.zip.

True

In [160]:
sentence = "Hadley is creative people who work for R Studio AND he attented conference at Newyork last year"
print(ne_chunk(pos_tag(word_tokenize(sentence))))

(S
  (GPE Hadley/NNP)
  is/VBZ
  creative/JJ
  people/NNS
  who/WP
  work/VBP
  for/IN
  (ORGANIZATION R/NNP Studio/NNP)
  AND/CC
  he/PRP
  attented/VBD
  conference/NN
  at/IN
  (ORGANIZATION Newyork/NNP)
  last/JJ
  year/NN)

## Mathematical Operations and Basic Feature Extraction

* Our goal is to preprocess the raw data we have and obtain numerical frequencies that can represent this data.

### Letter/Character Count

In [170]:
text5

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: Sherlock Holmes Novels, dtype: object

In [179]:
text5.str.len() # used to compute the length of each string

1     15
2     16
3     13
4     23
5     16
6     15
7     24
8     23
9     25
10    24
11    23
12    24
Name: Sherlock Holmes Novels, dtype: int64

In [182]:
text5 = pd.DataFrame(text5)
text5

       Sherlock Holmes Novels
1             scandal bohemia
2            redheaded league
3               case identity
4     boscombe valley mystery
5            five orange pips
6             man twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10   adventure noble bachelor
11    adventure beryl coronet
12   adventure copper beeches

In [187]:
text5["letter_count"] = text5["Sherlock Holmes Novels"].str.len()
# In this way, the character counts are also added as a column.
text5

       Sherlock Holmes Novels  letter_count
1             scandal bohemia            15
2            redheaded league            16
3               case identity            13
4     boscombe valley mystery            23
5            five orange pips            16
6             man twisted lip            15
7    adventure blue carbuncle            24
8     adventure speckled band            23
9   adventure engineers thumb            25
10   adventure noble bachelor            24
11    adventure beryl coronet            23
12   adventure copper beeches            24

### Number of word