# Basic String Operations

## Creation and Formatting

In [4]:
name = "alisan"

In [5]:
3 * name

'alisanalisanalisan'

In [6]:
"alisan" + "koroglu"

'alisankoroglu'

In [8]:
"E" + name[1:]

'Elisan'

In [9]:
names = ["ali", "veli", "ayşe"]

In [10]:
for i in names:
    print("names: ", i,sep = "")

names: ali
names: veli
names: ayşe

In [11]:
for i in names:
    print("_", i[0:], sep = "")

_ali
_veli
_ayşe

In [12]:
print(*enumerate(names))

(0, 'ali') (1, 'veli') (2, 'ayşe')

In [14]:
for i in enumerate(names):
    print(i)

(0, 'ali')
(1, 'veli')
(2, 'ayşe')

In [15]:
for i in enumerate("names"):
    print(i)

(0, 'n')
(1, 'a')
(2, 'm')
(3, 'e')
(4, 's')

In [16]:
for i in enumerate(names,1): # Starts numbering from 1
    print(i)

(1, 'ali')
(2, 'veli')
(3, 'ayşe')

## In-Array Type Queries

In [25]:
"alisan".isalpha() # Does it consist entirely of letters?

True

In [26]:
"alisan32".isalpha()

False

In [27]:
"123".isnumeric() # Is it entirely numeric?

True

In [28]:
"123".isdigit() # Is it entirely digits?

True

In [29]:
"123".isalnum() # Is it entirely numeric or alphabetic?

True

## Accessing Elements and Their Indexes

In [17]:
name = "alisanKoroglu"

In [18]:
name

'alisanKoroglu'

In [19]:
name[0:2]

'al'

In [31]:
name.index("n") # gives the indexof the character

5

In [32]:
name.index("a") # Returns the index of the first occurrence of the character.

0

In [33]:
# To find another one
name.index("a", 2) # Start searching from index 2.

4

## Querying Start and End Characters: `startswith()` & `endswith()`

In [34]:
name = "alisanKoroglu"

In [35]:
name.startswith("a") # Does the name start with the character "a"?

True

In [36]:
name.startswith("A") # Python is case-sensitive (uppercase and lowercase letters matter).

False

In [37]:
name.startswith("L")

False

In [39]:
name.endswith("u") # Does the name end with the character "u"?

True

In [40]:
name.endswith("h")

False

In [41]:
isim.count("a") # How many 'a' characters are there?

2

In [42]:
# sorted: Sorts elements alphabetically.
sorted("defter")

['d', 'e', 'e', 'f', 'r', 't']

In [43]:
print(*sorted("defter"), sep = "") # **Using `*` prints without spaces (concatenates the elements).**

deefrt

## Splitting Characters

In [44]:
name = "Alisan Koroglu"

In [45]:
name.split() # Split by spaces.

['Alisan', 'Koroglu']

In [46]:
name.split("a") # Splits by the character 'a'.

['Alis', 'n Koroglu']

In [48]:
name = "Alisan_Koroglu"
name.split("_") # Splits by the character '_'.

['Alisan', 'Koroglu']

## Uppercase and Lowercase Operations

In [49]:
name = "Alisan Koroglu"

In [51]:
name.upper()

'ALISAN KOROGLU'

In [52]:
name.lower()

'alisan koroglu'

In [53]:
name.upper().lower()

'alisan koroglu'

In [55]:
name_Capital = name.upper()
name_Capital

'ALISAN KOROGLU'

In [56]:
name_Capital.islower() # Does it consist entirely of lowercase letters?

False

In [57]:
name_Capital.isupper() # Does it consist entirely of uppercase letters?

True

## capitalize() & title() & swapcase()

In [62]:
name = "alisan koroglu"

In [64]:
name.capitalize() # Capitalizes the first letter of the given string.

'Alisan koroglu'

In [65]:
name.title() # Capitalizes the first letter of each word.

'Alisan Koroglu'

In [66]:
name.swapcase() # in this case capitalize all letters but

'ALISAN KOROGLU'

In [68]:
name = "ALISAN koroglu" # in this case changed upper to lower, lower to upper
name.swapcase()

'alisan KOROGLU'

## Trimming Unwanted Characters: `strip()`, `lstrip()`, `rstrip()`

In [72]:
name = " alisan "
name.strip() # Removes leading and trailing spaces.

'alisan'

In [83]:
name = "*alisan*"
name.strip()

'*alisan*'

In [74]:
name.strip("*") # Removes `*` characters from both the left and right sides.

'alisan'

In [75]:
name = "lhellol"
name.strip("l")

'hello'

In [76]:
name = "*hello*"
name.rstrip("*") # Removes from the right side only.

'*hello'

In [77]:
name.lstrip("*") # Removes from the left side only.

'hello*'

## `join`: Merging Split or Already Separated Strings

In [78]:
name = "alisan koroglu"

In [79]:
split = name.split()
split

['alisan', 'koroglu']

In [81]:
joiner = " " # Specifies the separator to be used when joining elements.
joiner.join(split)

'alisan koroglu'

In [82]:
joiner = "***" # Specifies the separator to be used when joining elements.
joiner.join(split)

'alisan***koroglu'

## Replacing Elements: `replace()`, `str.maketrans()`, `translate()`

In [84]:
name = "alisan koroglu"

In [86]:
name.replace("a", "E") # Replaces the letter 'E' with the letter 'a'.

'ElisEn koroglu'

In [88]:
name.replace("ko","KA")

'alisan KAroglu'

In [94]:
# When we want to replace some characters with anothers

phrase = "Bu ifade İçerisinde bağzı Türkçe karakterler vardır"

In [95]:
letters_to_be_corrected = "çÇğĞıİöÖşŞüÜ"
corrected_letters = "cCgGiIoOsSuU"

In [96]:
correction = str.maketrans(letters_to_be_corrected, corrected_letters)
phrase.translate(correction)

'Bu ifade Icerisinde bagzi Turkce karakterler vardir'

## contains

In [98]:
import pandas as pd

names = ["ayse", "Ayşe", "ali", "aali", "Ali", "veli", "mehmet", "berkcan"]
name_series = pd.Series(names)
name_series

0       ayse
1       Ayşe
2        ali
3       aali
4        Ali
5       veli
6     mehmet
7    berkcan
dtype: object

In [99]:
name_series.str.contains("al") # Checks whether the strings in the series contain "al".

0    False
1    False
2     True
3     True
4    False
5    False
6    False
7    False
dtype: bool

In [100]:
name_series[name_series.str.contains("al")] # Retrieves values that contain "al".

2     ali
3    aali
dtype: object

In [101]:
name_series.str.contains("al").sum() # Counts how many values contain "al".

2

In [102]:
v.str.contains("[aA]li").sum()  # Includes the letter 'a' regardless of case (uppercase or lowercase).

3

# Introduction to Text Mining and Natural Language Processing (NLP)

## Text Preprocessing

* Sherlock Holmes novel titles in a slightly noisy form, including trailing numbers, etc.
* Our first problem is converting this expression into a vector.

In [104]:
text = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

text

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

### Convert the string into a DataFrame/array/Series.

In [106]:
text.split()

['A',
 'Scandal',
 'in',
 'Bohemia!',
 '01',
 'The',
 'Red-headed',
 'League,2',
 'A',
 'Case,',
 'of',
 'Identity',
 '33',
 'The',
 'Boscombe',
 'Valley',
 'Mystery4',
 'The',
 'Five',
 'Orange',
 'Pips1',
 'The',
 'Man',
 'with?',
 'the',
 'Twisted',
 'Lip',
 'The',
 'Adventure',
 'of',
 'the',
 'Blue',
 'Carbuncle',
 'The',
 'Adventure',
 'of',
 'the',
 'Speckled',
 'Band',
 'The',
 'Adventure',
 'of',
 'the',
 "Engineer's",
 'Thumb',
 'The',
 'Adventure',
 'of',
 'the',
 'Noble',
 'Bachelor',
 'The',
 'Adventure',
 'of',
 'the',
 'Beryl',
 'Coronet',
 'The',
 'Adventure',
 'of',
 'the',
 'Copper',
 'Beeches']

In [109]:
text.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [110]:
text_list = text.split("\n")

In [115]:
import pandas as pd
text_pdSeries= pd.Series(text_list)
text_pdSeries

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [121]:
text_pdSeries = text_pdSeries[1:len(text_pdSeries)] # Got rid of the leading space.
text_pdSeries

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [124]:
text_pdDataFrame = pd.DataFrame(text_pdSeries,columns = ["Sherlock Holmes Novels"])
text_pdDataFrame

                   Sherlock Holmes Novels
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

### Uppercase - Lowercase